body,h1,h2,h3,h4,h5,h6,div,table,p,span 
{
	margin: 0px ; 
	padding: 0px ;
}
.header{
	width: 100%;
	height: 70px;
	background: black;
}
.logo{
	float: left;
	width: 30%;
	height: 100%;
	
}
.logo img {
    width: 75px;
    height: 35px;
    padding: 20px 0px 60px 99px;   
}
.menu li{
	float:right;
	list-style: none;
	padding: 15px;
	color: white;
}

.content1{
	height: 550px;
	

}
 .matter{
	color: white;
	float:left;
	padding: 90px 0px 0px 80px;
	width: 34%
}
.btn{
	 margin: 10px;
    width: 144px;
    height: 41px;
    background-color: transparent;
    color: white;
}
.content2{
	background-color: white;
    float: right;
    height: 319px;
    margin-right: 116px;
    margin-top: 89px;
    width: 343px;
}
.fh{
	margin: 0px;
    padding: 0px;
    height: 50px;
    background-color: #F5F5F5 ;
    text-align: center;
}
.ft{
	padding-top: 15px;
    font-size: 18px;
    font-family: verdana;
	color:black;
}
.fd{
	width: 258px;
    margin-top: 37px;
}
.name{
	height: 30px;
    width: 100%;
    padding: 13px 0px 0px 46px;
    border: none;
    border-bottom: 1px solid;

}
.email{
	height: 30px;
    width: 100%;
    padding: 13px 0px 0px 46px;
    border: none;
    border-bottom: 1px solid;

}
.pswd{
	height: 30px;
    width: 100%;
    padding: 13px 0px 0px 46px;
    border: none;
    border-bottom: 1px solid;
}
span{
	color: orange;
}
.getbtn{
	width: 100%;
    height: 40px;
    margin-top: 85px;
    background-color: orange;

}
.botm{
	
	width:100%;
	height:120px;
	color:white;
}
.socialtext{

	color: black;
	float: left;
	padding: 36px 0px 0px 82px;
    width: 330px;
}
.socialimage{
	float: right;
	width: 50%;
}
.details1{
	clear: both;
	background-color: #D6EAF8;
	width: 100%;
	height: 520px;
}
.detail1left{
	float: left;
	padding: 124px;
	}
.t1{
	margin: 0px;
    width: 100px;
    height: 100px;
    background-color: orange;
    color: white;
	}
	.t2{
	margin: 0px;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
	}
	.t3{
	margin: 0px;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
	}
	.detail1center{
		float: left;
		padding: 124px;

	}
	.btn1{
		margin: 0px;
		width: 120px;
		height: 30px;
		background-color: orange;
		color: white;
	}
	.detail1last{
		float: left;
		margin: 122px;
	}
	.details2{
	
		width: 100%;
		height: 500px;
		background-color: #F2F4F4;

	}
	.details2leftimg{
		clear: both;
		float: left;
    	width: 200px;
    	height: 100px;
    	padding: 20px 0px 0px 144px;
		}	
	.details2right{
		float: right;
   		 width: 459px;
    	padding-right: 137px;
    	padding-top: 38px;
		}
	.d2r{
		width:60px;
		border-color: orange;
		border-style: solid;
		margin-left: 0px;
		}
	.tc1{
		margin-top: 50px;
		    width: 383px;


	}	
	.tc2{

		margin-top: 50px;
		    width: 383px;
	}
	.img1{
		    float: left;
		    width: 70px;

	}
	.img2{
		    float: left;
		    width: 70px;

	}
	.details3{
    width: 100%;
    height: 500px;
    background-color: #B7D5BE;
	}	
	.details3left
	{
		float: left;
    	width: 456px;
    	height: 300px;
    	padding: 100px 0px 0px 120px
	}
	.d3r{
		width: 60px;
    	margin-left: 0px;
    	border-color: orange;
    	border-style: solid;
	}
	.detail3img{
		float: left;
		width: 200px;
		height:100px;
		padding-left: 130px;
   		padding-top: 66px;
	}
	
	.details4{
		width: 100%;
		height: 415px;
		padding-top: 60px;
		background-color: #F4E2F7

	}
	.d4r{
		width: 60px;
		border-style: solid;
		border-color: orange;
	}
	.details4bottom{
		width: 100%;
		height: 250px;
		border-style: 1px solid;

	}
	
	.details4img{
		float: left;
   		 width: 303px;
   		 height: 150px;
   		 padding: 101px 0px 0px 120px;
    	 
    }
    .img4one{
		padding-left: 117px;
		width: 145px;
	}
	.c1{
		width: 336px;
	}
	.pricelist{
	width: 100%;
    height: 700px;
    background-color: #CCD1D1;
	}
	.pricehead{
		padding-top: 55px;
	}
	.pricebottom{
		width: 100%;
		height: 420px;
    	margin-top: 138px;
		}
		.pricebasic{
			float: left;
			 width: 16%;
    		height: 408px;
    		margin-left: 136px;
			
		}
		.pricebasic1{
			height: 40%;
			width: 100%;
			background-color: black;
			padding-top: 15px;
			color: white;
		}
		.pricebasic2{
			height: 215px;
    		width: 305px;
   			 background-color: #EAEDED;
   			 margin-top: 134px;
    		color: gray;  		
			
		}
		.ourcust{
			width: 100%;
			height: 500px;
			background-color: #EBE1B6;
		}
		.download2{
			width: 100%;
			height: 200px;
		}